@import "../../styles/sass/colors";

div.listeDeroulante{
  min-width: 335px;
  max-width: 1023px;
  background-color: $red;

  & > p{
    color: $white;
    padding: 15px;
    &:hover{
      cursor: pointer;
    }

    img{
      float: right;
      width: 32px;
      height: 32px;

      &.reverse{
        transform: rotate(180deg);
      }
    }
  }
}
