@import "colors";


@font-face {
  font-family: "Montserrat-Medium";
  src: url('../../assets/fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

* {
  color: $red;
  font-family: Montserrat-Medium, serif;
  text-decoration: none;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;

  transition-duration: 250ms;
}

body {
  margin: 0;

  div#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    header,
    section {
      width: 90%;
      margin: auto;
    }
    section{
      flex-grow: 1;
    }
  }
}

