@media screen and (max-width: 525px) {
  header,
  section {
    width: 95%;
  }

  header {
    padding: 27px 0;

    img {
      max-width: 115px;
    }


    nav a {
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  section#home span {
    & > p {
      font-size: 24px;
    }
  }

  footer p {
    font-size: 12px;
    max-width: 150px;
  }
}
