@import "../../styles/sass/colors";

section#home {
  & > span {
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: block;


    & > p {
      margin: 0;
      text-align: center;
      color: $white;
      font-size: 48px;
      border-radius: 25px;
      background-color: #0000004a;
      padding: 78px 0;
    }
  }

  & > div#listeLogements {
    display: flex;
    padding: 50px;
    margin: 45px 0;
    background-color: $gray;
    border-radius: 25px;
    flex-wrap: wrap;
    gap: 55px;
    justify-content: space-between;
  }
}
