@import "../../styles/sass/colors";


section#ficheLogement{

  div:not(.loader){
    display: inline-block;
  }

  div.infosLogement{
    max-width: 80%;
  }

  div.description,
  div.equipement{
    width: 45%;

    div.listeDeroulante{
      width: 100%;
    }
  }

  div.equipement{
    float: right;

    p.equipement{
      line-height: 0;
    }
  }

  & > span{
    display: block;
  }
}
