@import "../../styles/sass/colors";


footer {
  display: flex;
  flex-direction: column;
  background-color: $black;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;

  img{
    width: 122px;
  }

  p{
    color: $white;
    text-align: center;
  }
}
